/** @define Button */

.Button {
  background: var(--colour-purple);
  border: 0 transparent;
  border-radius: 6px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 600 21px/21px var(--sans);
  outline: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.125s ease-out;
  user-select: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    border: 0 transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: color(var(--colour-purple) lightness(40%));
  }

  /**
   * Work around a Firefox/IE bug where the transparent `button` background
   * results in a loss of the default `button` focus styles.
   */
  &:focus {
    border: 0 transparent;
    box-shadow: none;
    outline: 0 dotted;
  }
}

/**
 * Modifier: arrow
 */

.Button--arrow {
  background: transparent svg-load(arrow-down.svg) no-repeat center center;
  background-size: contain;
  border-radius: 0;
  height: 30px;
  padding: 0;
  width: 30px;

  &:hover {
    background-color: transparent;
  }
}

/**
 * Modifier: reserve
 */

.Button--reserve {
  align-items: center;
  border-radius: 0;
  display: flex;
  height: 77px;
  justify-content: center;
  left: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

/**
 * Modifier: 404
 */

.Button--404 {
  align-items: center;
  border-radius: 0;
  display: flex;
  font: 600 21px/28px var(--sans);
  height: 77px;
  justify-content: center;
  left: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

@media (--large) {
  .Button {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font: 600 25px/25px var(--sans);
    height: 67px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 200px;
  }

  .Button--arrow {
    height: 34px;
    padding: 0;
    width: 60px;
  }

  .Button--reserve,
  .Button--404 {
    margin: 0 auto;
    position: static;
    width: 262px;
  }

  .Button--404 {
    text-transform: none;
    width: 372px;

    & > br { /* stylelint-disable-line */
      display: none;
    }
  }
}
