/** @define Social */

.Social {
  background: black;
}

.Social-items {

}

.Social-item {

}

.Social-link {
  color: var(--colour-grey);
  text-decoration: none;

  &:hover {
    color: white;
  }

  &:visited {
    color: var(--colour-grey);
  }
}

/**
 * Viewport: medium
 */

@media (--medium) {}

/**
 * Viewport: large
 */

@media (--large) {}
