<nav class="Navigation">
	<div class="Navigation-burger" data-js="navbutton">
		Site nav
	</div>

	<ul class="Navigation-items">
		<li class="Navigation-item">
			<div class="Navigation-button" data-js="navbutton">
				Close
			</div>
		</li>
		<li class="Navigation-item">
			<a href="#section01" class="Navigation-link" data-js="navlink" data-section="1">Acceuil</a>
		</li>
		<li class="Navigation-item">
			<a href="#section02" class="Navigation-link" data-js="navlink" data-section="2">Le hub</a>
		</li>
		<li class="Navigation-item">
			<a href="#section03" class="Navigation-link" data-js="navlink" data-section="3">En détail</a>
		</li>
		<li class="Navigation-item">
			<a href="#section04" class="Navigation-link" data-js="navlink" data-section="4">Histoire</a>
		</li>
		<li class="Navigation-item">
			<a href="#section05" class="Navigation-link" data-js="navlink" data-section="5">Team</a>
		</li>
		<li class="Navigation-item Navigation-link--reserve">
			<a href="#section07" class="Navigation-link" data-js="navlink" data-section="7">Reserve</a>
		</li>
		<li class="Navigation-item"></li>
	</ul>
</nav>
