<nav class="Navigation">
	<div class="Navigation-burger" data-js="navbutton">
		Menu
	</div>
	<div class="Navigation-button" data-js="navbutton">
		Close
	</div>
	<ul class="Navigation-items" data-js="navitems">
		<li class="Navigation-item">
			<a href="./index-en.html#welcome" class="Navigation-link is-active" data-js="navlink" data-panel="1">Welcome</a>
		</li>
		<li class="Navigation-item">
			<a href="./index-en.html#hub" class="Navigation-link" data-js="navlink" data-panel="2">The hub</a>
		</li>
		<li class="Navigation-item">
			<a href="./index-en.html#details" class="Navigation-link" data-js="navlink" data-panel="3">Learn more</a>
		</li>
		<li class="Navigation-item">
			<a href="./index-en.html#history" class="Navigation-link" data-js="navlink" data-panel="4">Our story</a>
		</li>
		<li class="Navigation-item">
			<a href="./index-en.html#team" class="Navigation-link" data-js="navlink" data-panel="5">Team</a>
		</li>
		<li class="Navigation-item Navigation-link--reserve">
			<a href="./index-en.html#reserve" class="Navigation-link" data-js="navlink" data-panel="7">Book</a>
		</li>
	</ul>
</nav>
