<nav class="Navigation">

	<div class="Navigation-button">
		Site navigation
	</div>

	<ul class="Navigation-items">
		<li class="Navigation-item">
			<a href="#section01" class="Navigation-link">nav item</a>
		</li>
		<li class="Navigation-item">
			<a href="#section02" class="Navigation-link">nav item</a>
		</li>
		<li class="Navigation-item">
			<a href="#section03" class="Navigation-link">nav item</a>
		</li>
		<li class="Navigation-item">
			<a href="#section04" class="Navigation-link">nav item</a>
		</li>
		<li class="Navigation-item">
			<a href="#section05" class="Navigation-link">nav item</a>
		</li>
		<li class="Navigation-item">
			<a href="#section06" class="Navigation-link">nav item</a>
		</li>
	</ul>
</nav>
