<nav class="Navigation">
	<div class="Navigation-burger" data-js="navbutton">
		Menu
	</div>
	<div class="Navigation-button" data-js="navbutton">
		Fermer
	</div>
	<ul class="Navigation-items" data-js="navitems">
		<li class="Navigation-item">
			<a href="./#welcome" class="Navigation-link is-active" data-js="navlink" data-panel="1">Welcome</a>
		</li>
		<li class="Navigation-item">
			<a href="./#hub" class="Navigation-link" data-js="navlink" data-panel="2">Le hub</a>
		</li>
		<li class="Navigation-item">
			<a href="./#details" class="Navigation-link" data-js="navlink" data-panel="3">En d&eacute;tail</a>
		</li>
		<li class="Navigation-item">
			<a href="./#history" class="Navigation-link" data-js="navlink" data-panel="4">Histoire</a>
		</li>
		<li class="Navigation-item">
			<a href="./#team" class="Navigation-link" data-js="navlink" data-panel="5">Team</a>
		</li>
		<li class="Navigation-item Navigation-link--reserve">
			<a href="./#reserve" class="Navigation-link" data-js="navlink" data-panel="7">R&eacute;server</a>
		</li>
	</ul>
</nav>
