/** @define Navigation */

.Navigation {}

.Navigation-items {}

.Navigation-item {}

.Navigation-link {}

.Navigation-burger {
  background: svg-load(burger.svg) no-repeat center center;
  background-size: 21px 17px;
  border: 0;
  height: 17px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-indent: 100%;
  top: -38px;
  transform: scale(0.9);
  white-space: nowrap;
  width: 21px;
}

@media (--medium) {}
