/** @define Navigation */

.Navigation {
  @nest .has-nav & {
    background: var(--colour-purpleLight);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--depth-5);
  }
}

.Navigation-burger {
  background: svg-load(burger.svg) no-repeat center center;
  background-size: 50%;
  border: 0;
  cursor: pointer;
  height: 40px;
  margin: 15px 0 0;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  width: 75px;

  @nest .has-nav & {
    display: none;
  }
}

.Navigation-button {
  border: 0;
  cursor: pointer;
  height: 40px;
  margin: 15px 0 0;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  width: 75px;

  @nest .has-nav & {
    background: svg-load(close.svg) no-repeat center center;
    background-size: 50%;
    position: absolute;
    right: 0;
    z-index: var(--depth-2);
  }
}

.Navigation-items {
  display: none;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 70px;
    width: 100%;
  }

  @nest .has-nav & {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.Navigation-item {
  flex: 1;
  user-select: none;
}

.Navigation-link {
  align-items: center;
  color: white;
  display: flex;
  font: 600 40px/40px var(--sans);
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;

  /* stylelint-disable */
  &.is-active,
  &.active {
    color: var(--colour-purple);
  }
  /* stylelint-enable */
}

.Navigation-item--reserve {
  background-color: var(--colour-purple);
  /* stylelint-disable */
  & .Navigation-link {
    color: white;

    &.is-active {
      color: white;
    }
  }
  /* stylelint-enable */
}

.Navigation-item--lang {
  color: var(--colour-purple);
  font: 300 12px/12px var(--sans);
  /* stylelint-disable */
  & .Navigation-link {
    color: var(--colour-purple);

    &:hover {
      background: var(--colour-grey);
      color: var(--colour-purpleDark);
    }
  }
  /* stylelint-enable */
}

@media (--large) {
  .Navigation-burger,
  .Navigation-button {
    display: none;
  }

  .Navigation-items {
    align-items: baseline;
    display: flex;
    margin-right: 20px;
    margin-top: 30px;

    &::before,
    &::after {
      content: "";
      display: none;
    }
  }

  .Navigation-item {
    min-width: 87px;
    text-align: center;

    @nest .is-en & {
      min-width: 100px;
    }
  }

  .Navigation-link {
    display: inline-block;
    font: 600 18px/18px var(--sans);
    position: relative;
    width: auto;

    &::after { /* stylelint-disable-line */
      background: var(--colour-purple);
      bottom: -7px;
      content: "";
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 0%;
    }

    /* stylelint-disable */
    &.is-active,
    &.active,
    &:hover {
      color: white;

      &::after {
        opacity: 1;
        transition: width var(--transition-link);
        width: 100%;
      }
    }
    /* stylelint-enable */

    @nest .Navigation-item--reserve & {
      align-items: center;
      background: transparent;
      border: 3px var(--colour-purple) solid;
      display: flex;
      height: 100%;
      justify-content: center;
      position: relative;
      transition: all var(--transition-link);
      width: 100%;

      &::after { /* stylelint-disable-line */
        bottom: 0;
      }

      /* stylelint-disable */
      &.is-active,
      &.active,
      &:hover {
        background: var(--colour-purple);
        color: white;

      }
      /* stylelint-enable */
    }
  }

  .Navigation-item--reserve {
    background: transparent;
    height: 42px;
    min-width: 112px;
  }

  .Navigation-item--lang {
    color: var(--colour-purple);
    margin: 0 0 0 30px;
    max-width: 50px;
    min-width: 50px;


    /* stylelint-disable */
    & .Navigation-link {
      align-items: center;
      border: 1px solid var(--colour-purple);
      color: var(--colour-purple);
      display: flex;
      font: 700 12px/12px var(--sans);
      height: 30px;
      justify-content: flex-start;
      padding-left: 10px;
      text-align: left;
      text-transform: uppercase;
      width: 40px;

      &:hover {
        background: var(--colour-grey);
        border-color: var(--colour-grey);
        color: var(--colour-purpleDark);
      }

      &::after {
        display: none;
      }
    }
    /* stylelint-enable */
  }
}
