/** @define Header */

.Header {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.Header-logo {
  margin: 15px;
}

@media (--large) {
  .Header {
    margin: 0 auto;
    max-width: 1160px;
  }

  .Header-logo {
    margin-top: 20px;
  }
}
