/** @define Header */

.Header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  transition: background 0.2s 0.3s ease-out;

  &.is-2 {
    background: var(--colour-purpleDark);
  }

  &.is-3 {
    background: var(--colour-lilac);
  }

  &.is-4 {
    background: var(--colour-periwinkle);
  }

  &.is-5 {
    background: var(--colour-purpleLight);
  }

  &.is-6 {
    background: var(--colour-purpleLight);
  }

  &.is-7 {
    background: var(--colour-purpleDark);
  }
}

.Header-logo {
  margin: 15px;
}

@media (--large) {
  .Header {
    margin: 0 auto;
    max-width: 1160px;
  }

  .Header-logo {
    margin-top: 20px;
  }
}
