/** @define House */

.House {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.House-house {
  background: svg-load(house-w-icons.svg) no-repeat center center;
  background-size: contain;
  height: 213px;
  left: 0;
  position: absolute;
  top: 0;
  width: 274px;
}

.House-icons {
  background: svg-load(icons.svg) no-repeat center center;
  background-size: contain;
  height: 300px;
  left: 0;
  position: absolute;
  top: -67px;
  width: 265px;
}

@media (--large) {
  .House {
    position: relative;
    z-index: 0;
  }

  .House-icons {
    display: none;
  }

  .House-line {
    background: svg-load(line.svg) no-repeat center;
    background-size: contain;
    height: 60px;
    left: 50%;
    margin-left: -6px;
    opacity: 0;
    position: absolute;
    top: 65%;
    transform-origin: center;
    transition: 0.3s;
    width: 12px;

    @nest .House:hover & {
      top: 60%;
    }
  }

  .House-internet {
    background: svg-load(internet-icon.svg) no-repeat center center;
    background-size: contain;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    position: absolute;
    top: 76%;
    transform-origin: center;
    transition: 0.3s;
    width: 50px;

    @nest .House:hover & {
      transform: scale(1.2);
    }
  }

  @keyframes Hub-animateHouse {
    0% {
      transform: scale(0.75);
    }

    85% {
      transform: scale(0.75);
    }

    100% {
      transform: scale(1);
    }
  }

  .House-house {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background: svg-load(logo+house.svg) no-repeat center;
    background-size: contain;
    height: 240px;
    left: 50%;
    margin-left: -120px;
    position: relative;
    top: 0;
    transform-origin: center;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 240px;
    z-index: 1000;

    @nest .is-animated & {
      animation-name: Hub-animateHouse;
    }

    @nest .House:hover & {
      transform: scale(0.75);
    }
  }

  .House-icon {
    animation-delay: 0.6s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: no-repeat center center;
    background-size: contain;
    height: 60px;
    left: 40%;
    opacity: 0;
    position: absolute;
    top: 30%;
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 50% 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 60px;

    @nest .House:hover & {
      transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes Hub-animateHeater {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: -35%;
      opacity: 1;
      top: -10%;
    }

    100% {
      left: -20%;
      opacity: 1;
      top: 0;
    }
  }

  .House-icon--heater {
    background-image: svg-load(icon-heater.svg);
    transition-delay: 0.04s;
    z-index: 2;

    @nest .is-animated & {
      animation-name: Hub-animateHeater;
    }
  }

  @keyframes Hub-animateMeteo {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: -60%;
      opacity: 1;
    }

    100% {
      left: -35%;
      opacity: 1;
      top: 30%;
    }
  }

  .House-icon--meteo {
    background-image: svg-load(icon-meteo3.svg);
    z-index: 1;

    @nest .is-animated & {
      animation-name: Hub-animateMeteo;
    }
  }

  @keyframes Hub-animateLight {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: -30%;
      opacity: 1;
      top: 70%;
    }

    100% {
      left: -20%;
      opacity: 1;
      top: 60%;
    }
  }

  .House-icon--light {
    background-image: svg-load(icon-light.svg);
    transition-delay: 0.04s;
    z-index: 3;

    @nest .is-animated & {
      animation-name: Hub-animateLight;
    }
  }

  @keyframes Hub-animateEye {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: 115%;
      opacity: 1;
      top: -10%;
    }

    100% {
      left: 100%;
      opacity: 1;
      top: 0;
    }
  }

  .House-icon--eye {
    background-image: svg-load(icon-eye.svg);
    z-index: 4;

    @nest .House:hover & {
      transform: translate3d(-100%, 0, 0);
    }

    @nest .is-animated & {
      animation-name: Hub-animateEye;
    }
  }

  @keyframes Hub-animateBalace {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: 130%;
    }

    100% {
      left: 115%;
      opacity: 1;
      top: 30%;
    }
  }

  .House-icon--balance {
    background-image: svg-load(icon-balance1.svg);
    transition-delay: 0.04s;
    z-index: 5;

    @nest .House:hover & {
      transform: translate3d(-100%, 0, 0);
    }

    @nest .is-animated & {
      animation-name: Hub-animateBalace;
    }
  }

  @keyframes Hub-animateVolet {
    0% {
      left: 40%;
      opacity: 0;
      top: 35%;
    }

    25% {
      opacity: 1;
    }

    50% {
      left: 115%;
      top: 70%;
    }

    100% {
      left: 100%;
      opacity: 1;
      top: 60%;
    }
  }

  .House-icon--volet {
    background-image: svg-load(icon-volet.svg);
    z-index: 6;

    @nest .House:hover & {
      transform: translate3d(-100%, 0, 0);
    }

    @nest .is-animated & {
      animation-name: Hub-animateVolet;
    }
  }
}
