<article class="Section Section--07" id="reserve" data-js="section" data-panel="7">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				R&eacute;server votre hub et testez-le gratuitement !
			</h2>
			<div class="Section-intro">
				{# <p>
					Le hub oToDo sera bientôt disponible chez votre op&eacute;rateur telecom.
				</p> #}
				<p>
					Rejoignez gratuitement notre communaut&eacute; de testeurs et recevez le hub chez vous. Il vous suffit d’avoir une box internet (DSL, c&acirc;ble ou fibre).
				</p>
			</div>
			<div class="Section-button">
				<a class="Button Button--reserve" href="mailto:example@example.com" title="Reserve">
					Reservez
				</a>
			</div>
			<p class="Section-body">
				Suite à votre inscription vous recevrez un hub* vous permettant de d&eacute;marrer votre nouvelle vie connect&eacute;e.
			</p>
		</div>
	</div>
</article>
