<article class="Section Section--02 is-animated" id="hub" data-js="section" data-panel="2">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Entrez simplement dans<br /> le monde des objets connect&eacute;s
			</h2>
			<div class="Section-intro">
				Le hub oToDo fait automatiquement le lien entre la box de votre op&eacute;rateur et tous les objets de la maison.
			</div>
			<div class="Section-image">
				<div class="House" data-js="house">
					<div class="House-icons"></div>
					<div class="House-icon House-icon--eye"></div>
					<div class="House-icon House-icon--heater"></div>
					<div class="House-icon House-icon--meteo"></div>
					<div class="House-icon House-icon--volet"></div>
					<div class="House-icon House-icon--light"></div>
					<div class="House-icon House-icon--balance"></div>
					<div class="House-line"></div>
					<div class="House-internet"></div>
					<div class="House-house"></div>
				</div>
			</div>
		</div>
	</div>
</article>
