<article class="Section Section--07" id="reserve" data-js="section" data-panel="7">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Book your hub &amp; test it for free !
			</h2>
			<div class="Section-intro">
				<p>
					Join for free our community of testers &amp; we deliver the hub at your home. You only need an Internet box (DSL, cable or fiber).
				</p>
			</div>
			<div class="Section-button">
				<a class="Button Button--reserve" href="mailto:contact@otodo.com?subject=I want to book my hub&body= HI! I would like to receive a hub and test the new oToDo service. Here you will find my contact details (email address, phone number, postal address for the delivery)." title="Reserve">
					Book
				</a>
			</div>
			<p class="Section-body">
				Following your subscription, you will receive a hub* that will let you start your connected life.
			</p>
		</div>
	</div>
</article>
