<article class="Section Section--04" id="history" data-js="section" data-panel="4">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				L’histoire
			</h2>
			<div class="Section-intro">
				Le début d’une longue aventure !
			</div>
			<div class="History">
				<ul class="History-items" data-js="history-items">
					<li class="History-item" data-js="history-item" data-item="1">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Création de la société
								</h3>
								<div class="History-body">
									Administrativement tout est prêt. La première équipe ( Eric, Eric, Alexandre et Laurent) travaille sur le hub.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Création de la société
								</h3>
								<div class="History-body">
									Administrativement tout est prêt. La première équipe ( Eric, Eric, Alexandre et Laurent) travaille sur le hub.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Création de la société
								</h3>
								<div class="History-body">
									Administrativement tout est prêt. La première équipe ( Eric, Eric, Alexandre et Laurent) travaille sur le hub.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Création de la société
								</h3>
								<div class="History-body">
									Administrativement tout est prêt. La première équipe ( Eric, Eric, Alexandre et Laurent) travaille sur le hub.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Création de la société
								</h3>
								<div class="History-body">
									Administrativement tout est prêt. La première équipe ( Eric, Eric, Alexandre et Laurent) travaille sur le hub.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item History-item--participate" data-js="participate">
						<div class="History-itemInner">
							<div class="History-header">
								<h3 class="History-title">
									<a href="#section07" title="Reserver">Participez !</a>
								</h3>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
