<article class="Section Section--05" id="team" data-js="section" data-panel="5">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Our team
			</h2>
			<div class="Section-intro">
				An experienced team with a large set of skills in networks, electronic design &amp; computing
			</div>
			<p class="Section-body">
				Simple values : <strong>Innovation</strong>, <strong>Efficiency</strong>, <strong>Engagement</strong>, <strong>Enthousiasm</strong>
			</p>
			<div class="Team">
				<ul class="Team-items">
					<li class="Team-item">
						<div class="Team-image">
							<span class="Team-imageBg" style="background-image:url(img/face-ericdenoyer.png);"></span>
							<img class="Team-imageInner" src="img/face-ericdenoyergrey.png"  alt="ericdenoyer" />
						</div>
						<h3 class="Team-title">
							Éric DENOYER
						</h3>
						<p class="Team-subtitle">
							Direction
						</p>
					</li>
					<li class="Team-item">
						<div class="Team-image">
							<span class="Team-imageBg" style="background-image:url(img/face-ericsouchaud.png);"></span>
							<img class="Team-imageInner" src="img/face-ericsouchaudgrey.png"  alt="ericsouchaud" />
						</div>
						<h3 class="Team-title">
							Éric SOUCHAUD
						</h3>
						<p class="Team-subtitle">
							Direction
						</p>
					</li>
					<li class="Team-item">
						<div class="Team-image">
							<span class="Team-imageBg" style="background-image:url(img/face-alexdelhomme.png);"></span>
							<img class="Team-imageInner" src="img/face-alexdelhommegrey.png"  alt="alexdelhomme" />
						</div>
						<h3 class="Team-title">
							Alexandre DELHOMME
						</h3>
						<p class="Team-subtitle">
							Marketing
						</p>
					</li>
					<li class="Team-item">
						<div class="Team-image">
							<span class="Team-imageBg" style="background-image:url(img/face-laurent.png);"></span>
							<img class="Team-imageInner" src="img/face-laurentgrey.png"  alt="laurent" />
						</div>
						<h3 class="Team-title">
							Laurent
						</h3>
						<p class="Team-subtitle">
							Engineering
						</p>
					</li>
					<li class="Team-item">
						<div class="Team-image">
							<span class="Team-imageBg" style="background-image:url(img/face-wilfried.png);"></span>
							<img class="Team-imageInner" src="img/face-wilfriedgrey.png"  alt="wilfried" />
						</div>
						<h3 class="Team-title">
							Wilfred
						</h3>
						<p class="Team-subtitle">
							Engineering
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
