<article class="Section Section--06" id="section06">
	<div class="Section-inner">
		<h2 class="Section-title">
			Partners
		</h2>
		<div class="Section-content" >
			Logos
		</div>
	</div>
</article>
