<article class="Section Section--02" id="hub" data-js="section" data-panel="2">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Enter in the world<br /> of connected objects
			</h2>
			<div class="Section-intro">
				The oToDo’s hub automatically connects your internet box with all home objects.
			</div>
			<div class="Section-image">
				<div class="House" data-js="house">
					<div class="House-media"></div>
					<div class="House-icons"></div>
				</div>
			</div>
		</div>
	</div>
</article>
