<article class="Section Section--02" id="hub" data-js="section" data-panel="2">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Entrez simplement dans<br /> le monde des objets connectés
			</h2>
			<div class="Section-intro">
				le hub Otodo vous fait automatiquement le lien entre la box de votre opérateur et tous les objets domestiques.
			</div>
			<div class="Section-image" alt="Le hub"></div>
		</div>
	</div>
</article>
