<article class="Section Section--02" id="hub" data-js="section" data-panel="2">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Welcome to the world<br /> of connected objects
			</h2>
			<div class="Section-intro">
				The oToDo’s hub automatically connects your internet box with all objects at home.
			</div>
			<div class="Section-image">
				<div class="House" data-js="house">
					<div class="House-icons"></div>
					<div class="House-icon House-icon--eye"></div>
					<div class="House-icon House-icon--heater"></div>
					<div class="House-icon House-icon--meteo"></div>
					<div class="House-icon House-icon--volet"></div>
					<div class="House-icon House-icon--light"></div>
					<div class="House-icon House-icon--balance"></div>
					<div class="House-line"></div>
					<div class="House-internet"></div>
					<div class="House-house"></div>
				</div>
			</div>
		</div>
	</div>
</article>
