<article class="Section Section--02" id="section02">
	<div class="Section-inner">
		<h2 class="Section-title">
			Entrez simplement dans le monde des objets connectés
		</h2>
		<div class="Section-intro">
			le hub Otodo vous fait automatiquement le lien entre la box de votre opérateur et tous les objets domestiques.
		</div>
		<div class="Section-content" >
			<div class="Section-image" alt="Le hub"></div>
		</div>
	</div>
</article>
