<article class="Section Section--04" id="history" data-js="section" data-panel="4">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				L’histoire
			</h2>
			{# <div class="Section-intro">
				Le d&eacute;but d’une longue aventure !
			</div> #}
			<div class="History">
				<ul class="History-items" data-js="history-items">
					<li class="History-item" data-js="history-item" data-item="1">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Printemps 2016
								</div>
								<h3 class="History-title">
									D&eacute;but de l'aventure
								</h3>
								<div class="History-body">
									Convaincu que les box internet vont non seulement connecter les téléphones et les tablettes mais aussi tous les objets télécommandables de la maison, Eric crée la société oToDo.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Le D&eacute;monstrateur
								</h3>
								<div class="History-body">
									La 1ère équipe (Eric, Eric, Alexandre &amp; Laurent) travaille sur la 1ère version du Hub (un cube). Démonstrations d’une première maquette du système en appartement témoin.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Sept. - Oct. 2016
								</div>
								<h3 class="History-title">
									Le Prototype
								</h3>
								<div class="History-body">
									Le Hub devient rond et sa version prototype est &eacute;quip&eacute; d’un nouveau processeur beaucoup plus performant  L’application smartphone IOS est cr&eacute;&eacute;e et les premiers tests en vraie grandeur commencent.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Nov. - Dec. 2016
								</div>
								<h3 class="History-title">
									Les tests sur le terrain
								</h3>
								<div class="History-body">
									 4 nouveaux protocoles sont intégrés pour couvrir une large gamme d'objets, ajout d'un portail de services de créations de nouveaux objets pour que les constructeurs partenaires enrichissent directement le système.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item History-item--participate" data-js="history-item">
						<a class="History-itemInner" href="#reserve" title="Reserver">
							<div class="History-header">
								<h3 class="History-title">
									Participez !
								</h3>
								<div class="History-body">
									Les matériels de pré-série vont bientôt être disponibles pour faire des tests chez vous. Alors PARTICIPEZ !
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
