<article class="Section Section--06" id="section06">
	<div class="Section-inner">
		<div class="Section-content" >
			<div class="Partners">
				<ul class="Partners-items">
					<li class="Partners-item">
						<img src="img/logo-1.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-2.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-3.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-4.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-5.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-6.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-7.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-8.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-9.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-10.png" alt="Partner name" class="Partners-image" />
					</li>
					<li class="Partners-item">
						<img src="img/logo-11.png" alt="Partner name" class="Partners-image" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
