<article class="Section Section--03" id="details" data-js="section" data-panel="3">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				With the oToDo&rsquo;s hub
			</h2>
			<div class="Section-intro">
				The missing link between your internet provider box and all your home objects
			</div>
			<div class="Carousel">
				<div class="Carousel-nav" data-js="carousel-nav">
					<div class="Carousel-navItem is-active">
						MANAGE ALL HOME OBJECTS
					</div>
					<div class="Carousel-navItem">
						INTUITIVE HANDLING
					</div>
					<div class="Carousel-navItem">
						ABSOLUTE SECURITY
					</div>
				</div>
				<div class="Carousel-items" data-js="carousel">
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--pilot"></span>Manage all home objects
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--pilot" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								All objects become connected
							</h4>
							<p class="Carousel-contentBody">
								The oToDo’s hub allows you to manage many commercial connected objects, but also older remote controlled devices (sliding shutters, lamps, <strong>plugs, thermostats</strong>, etc)
							</p>
							<div class="Carousel-contentLink" data-js="overlayTrigger" data-overlay="1">
								Learn more
							</div>
						</div>
					</div>
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--power"></span>Intuitive handling
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--power" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								Immediately ready to work!
							</h4>
							<p class="Carousel-contentBody">
								Handling the oToDo&rsquo;s Hub is effortless from your smartphone, tablet &amp; computer. As soon as it is switched on, no complex configuration is needed, the system is tailored to your specific needs.
							</p>
							<div class="Carousel-contentLink" data-js="overlayTrigger" data-overlay="2">
								Learn more
							</div>
						</div>
					</div>
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--security"></span>Absolute security
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--security" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								In secure manner
							</h4>
							<p class="Carousel-contentBody">
								The oToDo&rsquo;s hub is built to resist any hacker attack, &amp; offer a private mode to any user that would like to protect the hub from all external networks outside the home.
							</p>
							<div class="Carousel-contentLink" data-js="overlayTrigger" data-overlay="3">
								Learn more
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include "components/overlay/_overlay01.njk" %}
			{% include "components/overlay/_overlay02.njk" %}
			{% include "components/overlay/_overlay03.njk" %}
		</div>
	</div>
</article>
