<article class="Section Section--04" id="history" data-js="section" data-panel="4">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Our story
			</h2>
			<div class="History">
				<ul class="History-items" data-js="history-items">
					<li class="History-item" data-js="history-item" data-item="1">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Spring 2016
								</div>
								<h3 class="History-title">
									Beginning of the adventure
								</h3>
								<div class="History-body">
									Eric is convinced that internet boxes will not only connect phones &amp; tablets but also allow us to control remotely objects at home. He envisions a “hub” very simple to use that will do the link &amp; decide to launch the company oToDo.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									JUIN 2016
								</div>
								<h3 class="History-title">
									Demonstrations
								</h3>
								<div class="History-body">
									The 1st team (Eric, Eric, Alexandre &amp; Laurent) works on the Hub’s first version (a cube). A show flat is used to run demonstrations of the first working model of the system.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Sept. - Oct. 2016
								</div>
								<h3 class="History-title">
									The Prototype
								</h3>
								<div class="History-body">
									The hub adopts a round design &amp; its prototype version is equipped with a new more powerful processor. The iOs smartphone app is created and the first full-scale tests start.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Nov. - Dec. 2016
								</div>
								<h3 class="History-title">
									Field tests
								</h3>
								<div class="History-body">
									Four new protocols are integrated in the hub for covering a wide range of objects. A services platform for adding new objects is designed to let manufacturing partners directly enrich and update the system.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item History-item--participate" data-js="history-item">
						<a class="History-itemInner" href="#reserve" title="Reserver">
							<div class="History-header">
								<h3 class="History-title">
									JOIN US!
								</h3>
								<div class="History-body">
									Pre-serie materials will be soon available to let you do try the Hub at home. So JOIN US !
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
