<article class="Section Section--07" id="section07">
	<div class="Section-inner">
		<h2 class="Section-title">
			Réserver votre hub dès maintenant !
		</h2>
		<div class="Section-intro">
			<p>
				Le hub oToDo sera bientôt disponible chez votre opérateur telecom.
			</p>
			<p>
				Rejoignez gratuitement notre communauté de béta-testeurs & aider nous à finaliser le développement de notre hub
			</p>
		</div>
		<div class="Section-content" >
			Reservez
		</div>
	</div>
</article>
