<article class="Section Section--01" id="section01">
	<div class="Section-inner">
		<h2 class="Section-title">
			Contrôler tous les objets de la maison !
		</h2>
		<div class="Section-content" >
			<div class="Section-image" alt="Le hub"></div>
			<div class="Section-button">
				<a href="#" class="Button" title="Continue">
					En savoir plus
				</a>
			</div>
			<div class="Section-nav">
				<a href="#" class="Button Button--arrow" title="Continue"></a>
			</div>
		</div>
	</div>
</article>
