<article class="Section Section--04" id="history" data-js="section" data-panel="4">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				L’histoire
			</h2>
			{# <div class="Section-intro">
				Le d&eacute;but d’une longue aventure !
			</div> #}
			<div class="History">
				<ul class="History-items" data-js="history-items">
					<li class="History-item" data-js="history-item" data-item="1">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Printemps 2016
								</div>
								<h3 class="History-title">
									D&eacute;but de l'aventure
								</h3>
								<div class="History-body">
									Eric est convaincu que les box internet vont non seulement connecter les t&eacute;l&eacute;phones et les tablettes mais aussi tous les objets t&eacute;l&eacute;commandables de la maison. Il imagine le principe d’un &ldquo;Hub&rdquo; tr&egrave;s simple &agrave; utiliser qui r&eacute;alise ce lien, et d&eacute;cide de cr&eacute;er la soci&eacute;t&eacute; oToDo.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Juin 2016
								</div>
								<h3 class="History-title">
									Le D&eacute;monstrateur
								</h3>
								<div class="History-body">
									La premi&egrave;re &eacute;quipe ( Eric, Eric, Alexandre et Laurent) travaille sur la premi&egrave;re version du Hub. C’&eacute;tait un cube!). Un appartement t&eacute;moin est pr&eacute;par&eacute; pour faire les d&eacute;monstrations d’une premi&egrave;re maquette du syst&egrave;me.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Septembre Octobre 2016
								</div>
								<h3 class="History-title">
									Le Prototype
								</h3>
								<div class="History-body">
									Le Hub devient rond et sa version prototype est &eacute;quip&eacute; d’un nouveau processeur beaucoup plus performant  L’application smartphone IOS est cr&eacute;&eacute;e et les premiers tests en vraie grandeur commencent.
								</div>
							</div>
						</div>
					</li>
					<li class="History-item" data-js="history-item">
						<div class="History-itemInner">
							<div class="History-header">
								<div class="History-date">
									Novembre-Decembre 2016
								</div>
								<h3 class="History-title">
									Les tests sur le terrain
								</h3>
								<div class="History-body">
									Quatre nouveaux protocoles sont int&eacute;gr&eacute;s dans le hub pour couvrir une large gamme d’objets. Un portail de services de cr&eacute;ation de nouveaux objets est imagin&eacute; pour que les constructeurs partenaires enrichissent directement le syst&egrave;me.<br />
									Les mat&eacute;riels de pr&eacute;-s&eacute;rie vont bient&ocirc;t &ecirc;tre disponibles pour faire des tests chez vous.<br />
									Alors...
								</div>
							</div>
						</div>
					</li>
					<li class="History-item History-item--participate" data-js="participate">
						<div class="History-itemInner">
							<div class="History-header">
								<h3 class="History-title">
									<a href="#reserve" title="Reserver">Participez !</a>
								</h3>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
