<article class="Section Section--07" id="section07" data-js="section">
	<div class="Section-inner">
		<h2 class="Section-title">
			Réserver votre hub dès maintenant !
		</h2>
		<div class="Section-intro">
			<p>
				Le hub oToDo sera bientôt disponible chez votre opérateur telecom.
			</p>
			<p>
				Rejoignez gratuitement notre communauté de béta-testeurs & aider nous à finaliser le développement de notre hub
			</p>
		</div>
		<div class="Section-content">
			<div class="Section-button">
				<a class="Button Button--reserve" href="mailto:example@example.com" title="Reserve">
					Reservez
				</a>
			</div>
			<p class="Section-body">
				Suite à votre inscription vous recevrez un hub* vous permettant de démarrer votre nouvelle vie connectée.
			</p>
		</div>
	</div>
	{%include "components/footer/_footer.njk" %}
</article>
