<article class="Section Section--01" id="welcome" data-js="section" data-panel="1">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Contr&ocirc;ler tous les objets de la maison !
			</h2>
			<div class="Section-image" alt="Le hub"></div>
			<h2 class="Section-caption">
				Contr&ocirc;ler tous les objets de la maison !
			</h2>
			<div class="Section-button">
				<a href="#hub" class="Button" title="Continue" data-js="continue">
					En savoir plus
				</a>
			</div>
			<div class="Section-nav">
				<a href="#hub" class="Button Button--arrow" data-js="continue" title="Continue"></a>
			</div>
		</div>
	</div>
</article>
