<article class="Section Section--03" id="section03" data-js="section">
	<div class="Section-inner">
		<h2 class="Section-title">
			Avec le hub oToDo
		</h2>
		<div class="Section-intro">
			Le lien manquant entre la box de votre opérateur &amp; tous les  objets domestiques
		</div>
		<div class="Section-content">
			<div class="Carousel">
				<div class="Carousel-nav" data-js="carousel-nav">
					<div class="Carousel-navItem is-active">
						Pilotez tous les objets
					</div>
					<div class="Carousel-navItem">
						Prise en main intuitive
					</div>
					<div class="Carousel-navItem">
						Sécurité absolue
					</div>
				</div>
				<div class="Carousel-items" data-js="carousel">
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--pilot"></span>Pilotez tous les objets
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--pilot" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								Tous vos objets deviennent connectés
							</h4>
							<p class="Carousel-contentBody">
								Le hub oToDo permet de piloter de <strong>nombreux objets connectés du commerce</strong>, mais également des matériels télécommandables plus anciens (volets roulants, lampes, prises, thermostats, etc)
							</p>
							<div class="Carousel-contentLink" data-js="overlay" data-overlay="1">
								En savoir plus
							</div>
						</div>
					</div>
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--power"></span>Prise en main intuitive
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--power" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								Tous vos objets deviennent connectés
							</h4>
							<p class="Carousel-contentBody">
								Le hub oToDo permet de piloter de nombreux objets connectés du commerce, mais également des matériels télécommandables plus anciens (volets roulants, lampes, prises, thermostats, etc)
							</p>
							<div class="Carousel-contentLink" data-js="overlay" data-overlay="1">
								En savoir plus
							</div>
						</div>
					</div>
					<div class="Carousel-item" data-js="expander">
						<div class="Carousel-header" data-js="expanderTrigger">
							<span class="Carousel-headerButton"></span>
							<h3 class="Carousel-headerTitle">
								<span class="Carousel-headerIcon Carousel-headerIcon--security"></span>Sécurité absolue
							</h3>
						</div>
						<div class="Carousel-content Carousel-content--security" data-js="expanderContent">
							<h4 class="Carousel-contentTitle">
								Tous vos objets deviennent connectés
							</h4>
							<p class="Carousel-contentBody">
								Le hub oToDo permet de piloter de nombreux objets connectés du commerce, mais également des matériels télécommandables plus anciens (volets roulants, lampes, prises, thermostats, etc)
							</p>
							<div class="Carousel-contentLink" data-js="overlay" data-overlay="1">
								En savoir plus
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
