<article class="Section Section--01" id="welcome" data-js="section" data-panel="1">
	<div class="Section-inner">
		<div class="Section-content">
			<h2 class="Section-title">
				Monitor all objects at home with only one hub!
			</h2>
			<div class="Section-image"></div>
			<h2 class="Section-caption">
				Monitor all objects at home with only one hub!
			</h2>
			<div class="Section-button">
				<a href="#hub" class="Button" title="Read more" data-js="continue">
					Read more
				</a>
			</div>
			<div class="Section-nav">
				<a href="#hub" class="Button Button--arrow" data-js="continue" title="Read more"></a>
			</div>
		</div>
	</div>
</article>
