/** @define Section */

.Section {
  min-height: 100vh;
}

.Section-inner {
  padding: 15px;
}

.Section-title {
  color: white;
  font: 700 25px/34px var(--sans);
  margin: 100px auto 0;
  text-align: center;
}

.Section-intro {
  color: white;
  font: 300 14px/18px var(--sans);
  text-align: center;
}

.Section-content {
  text-align: center;
}

/* Welcome Page */
.Section--01 {
  background: url("../img/section01-background-small.jpg") no-repeat top center;
  background-size: cover;

  & .Section-inner {
    height: 100%;
    min-height: 100vh;
    position: relative;
  }

  & .Section-title {
    max-width: 300px;
  }

  & .Section-caption {
    display: none;
  }

  & .Section-image {
    background: svg-load(house.svg) no-repeat center center;
    background-size: contain;
    height: 176px;
    margin: 16px auto 0;
    width: 150px;
  }

  & .Section-button {
    margin: 50px auto 0;
  }

  & .Section-nav {
    margin-top: 50px;
    width: 100%;
  }
}

/* Entrer Page */
.Section--02 {
  align-items: center;
  background: var(--colour-purpleDark);
  display: flex;

  & .Section-inner {
    margin: auto;
  }

  & .Section-title {
    color: white;
    font: 700 27px/30px var(--sans);
    margin-top: 0;

    & > br { /* stylelint-disable-line */
      display: none;
    }
  }

  & .Section-intro {
    margin: 30px auto 0;
    max-width: 550px;
    padding: 0 10px;
  }

  & .Section-image {
    height: 213px;
    margin: 30px auto 0;
    position: relative;
    width: 274px;
  }
}

/* Avec Page */
.Section--03 {
  background: var(--colour-lilac);

  & .Section-title {
    font: 700 27px/30px var(--sans);
    margin-top: 80px;
  }

  & .Section-intro {
    font: 300 14px/18px var(--sans);
    margin: 24px auto 0;
    max-width: 265px;
  }
}

/* History Page */
.Section--04 {
  background: var(--colour-periwinkle);

  & .Section-title {
    font: 700 27px/34px var(--sans);
    letter-spacing: 0.1px;
    margin: 82px auto 0;
  }

  & .Section-intro {
    margin-top: 30px;
    text-align: center;
  }
}

/* Team page */
.Section--05 {
  background: var(--colour-purpleLightest);

  & .Section-title {
    color: var(--colour-greyDark);
    font: 700 27px/27px var(--sans);
    letter-spacing: 0.1px;
    margin: 82px auto 0;
  }

  & .Section-intro {
    color: var(--colour-greyDark);
    font: 300 14px/18px var(--sans);
    letter-spacing: 0.05px;
    margin: 30px auto 0;
  }

  & .Section-body {
    color: var(--colour-greyDark);
    font: 400 14px/18px var(--sans);
    letter-spacing: 0.05px;
    margin: 30px auto 0;

    & strong { /* stylelint-disable-line */
      color: var(--colour-greyDark);
      font: 700 14px/18px var(--sans);
    }
  }
}

/* Logo page */
.Section--06 {
  background: white;
}

/* Reserve page */
.Section--07 {
  background: var(--colour-purpleDark);

  & .Section-title {
    font: 700 27px/34px var(--sans);
    letter-spacing: 0.1px;
    margin-top: 12vh;
    max-width: 250px;
  }

  & .Section-intro {
    margin: 0 auto;
    max-width: 265px;

    & p { /* stylelint-disable-line */
      font: 300 14px/18px var(--sans);
      line-height: 18px;
      margin-top: 20px;
    }
  }

  & .Section-button {
    height: 77px;
    margin: 30px auto 0;
  }

  & .Section-body {
    font: 300 10px/20px var(--sans);
    margin: 8px auto 0;
    max-width: 250px;
  }
}

/**
 * Viewport: large
 */

@media (--large) {
  .Section-title {
    color: white;
    font: 700 50px/58px var(--sans);
    max-width: 550px;
  }

  .Section-intro {
    font: 300 17px/29px var(--sans);
  }

  .Section--01 {
    background: url("../img/section01-background-large.jpg") no-repeat top center;
    background-size: cover;

    & .Section-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      display: none;
    }

    & .Section-image {
      height: 258px;
      margin-top: 10vh;
      width: 220px;
    }

    & .Section-button {
      margin-top: 25px;
    }

    & .Section-caption {
      color: white;
      display: block;
      font: 700 48px/56px var(--sans);
      margin: 25px auto 0;
      max-width: 600px;
    }

    & .Section-nav {
      margin-top: 30px;
    }
  }

  .Section--02 {
    & .Section-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      font: 700 50px/58px var(--sans);
      margin-top: 120px;
      max-width: 800px;

      & > br { /* stylelint-disable-line */
        display: block;
      }
    }

    & .Section-image {
      height: 366px;
      margin-top: 20px;
      width: 50%;
    }
  }

  /* Avec Page */
  .Section--03 {
    & .Section-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      font: 700 50px/58px var(--sans);
      margin-top: 0;
      max-width: none;
    }

    & .Section-intro {
      font: 300 17px/23px var(--sans);
      margin: 20px auto 0;
      max-width: 370px;
    }
  }

  /* History Page */
  .Section--04 {
    & .Section-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      font: 700 50px/58px var(--sans);
      margin-top: -30vh;
    }

    & .Section-intro {
      font: 400 17px/23px var(--sans);
    }
  }

  /* Team page */
  .Section--05 {
    background: var(--colour-purpleLightest);

    & .Section-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      font: 700 50px/58px var(--sans);
      margin-top: 110px;
    }

    & .Section-intro {
      font: 400 17px/23px var(--sans);
      margin: 20px auto 0 0;
      max-width: 440px;
      text-align: left;
    }

    & .Section-body {
      font: 400 17px/23px var(--sans);
      margin: 20px auto 0 0;
      max-width: 420px;
      text-align: left;

      & strong { /* stylelint-disable-line */
        color: var(--colour-greyDark);
        font: 700 17px/23px var(--sans);
      }
    }
  }

  /* Reserve page */
  .Section--07 {
    & .Section-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
      min-height: 100vh;
      padding-bottom: 0;
    }

    & .Section-content {
      margin: auto;
    }

    & .Section-title {
      color: white;
      font: 700 50px/58px var(--sans);
      margin-top: 0;
      max-width: none;
    }

    & .Section-intro {
      font: 300 17px/23px var(--sans);
      margin: 26px auto 0;
      max-width: none;

      & p { /* stylelint-disable-line */
        font: 300 17px/23px var(--sans);
        margin: 26px auto 0;
        max-width: 280px;
      }

      & p:last-child { /* stylelint-disable-line */
        max-width: 480px;
      }
    }

    & .Section-button {
      margin-top: 50px;
    }

    & .Section-body {
      font: 300 12px/16px var(--sans);
      margin: 18px auto 0;
      max-width: 300px;
    }
  }
}

/**
 * Viewport: xlarge
 */

@media (--xlarge) {
  .Section-title {
    font: 700 60px/70px var(--sans);
  }

  .Section-intro {
    font: 300 20px/30px var(--sans);
  }

  .Section--01 {
    & .Section-caption {
      font: 700 60px/70px var(--sans);
      max-width: 700px;
    }

    & .Section-nav {
      margin-top: 10vh;
    }
  }

  .Section--02 {
    & .Section-title {
      font: 700 60px/70px var(--sans);
      max-width: none;
    }
  }

  /* Avec Page */
  .Section--03 {
    & .Section-title {
      font: 700 72px/72px var(--sans);
    }

    & .Section-intro {
      font: 300 20px/26px var(--sans);
      max-width: 420px;
    }
  }

  /* History Page */
  .Section--04 {
    & .Section-title {
      font-size: 60px;
    }

    & .Section-intro {
      font-size: 20px;
    }
  }

  /* Team page */
  .Section--05 {
    & .Section-title {
      font: 700 60px/60px var(--sans);
    }

    & .Section-intro {
      font: 400 20px/30px var(--sans);
    }

    & .Section-body {
      font: 400 20px/30px var(--sans);
    }
  }

  /* Reserve page */
  .Section--07 {
    & .Section-title {
      font: 700 60px/70px var(--sans);
    }

    & .Section-intro {
      font: 300 20px/30px var(--sans);

      & p { /* stylelint-disable-line */
        font: 300 20px/30px var(--sans);
        max-width: 340px;
      }

      & p:last-child { /* stylelint-disable-line */
        max-width: 560px;
      }
    }

    & .Section-body {
      font: 300 15px/20px var(--sans);
      max-width: 370px;
    }
  }
}
