/** @define Section */

.Section {
  min-height: 100vh;
}

.Section-inner {
  padding: 15px;
}

.Section-title {
  color: white;
  font: 600 25px/34px var(--sans);
  margin: 100px auto 0;
  text-align: center;
}

.Section-intro {
  color: white;
  font: 300 14px/18px var(--sans);
  text-align: center;
}

.Section-content {
  text-align: center;
}

/* Welcome Page */
.Section--01 {
  background: url("../img/background-01.jpg") no-repeat top center;
  background-size: cover;

  & .Section-inner {
    height: 100%;
    min-height: 100vh;
    position: relative;
  }

  & .Section-caption {
    display: none;
  }

  & .Section-image {
    background: svg-load(house.svg) no-repeat center center;
    background-size: contain;
    height: 176px;
    margin: 16px auto 0;
    width: 150px;
  }

  & .Section-button {
    margin: 50px auto 0;
  }

  & .Section-nav {
    bottom: 40px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

/* Entrer Page */
.Section--02 {
  align-items: center;
  background: var(--colour-purpleDark);
  display: flex;

  & .Section-inner {
    margin: auto;
  }

  & .Section-title {
    color: white;
    font: 600 27px/30px var(--sans);
    margin-top: 0;

    & > br { /* stylelint-disable-line */
      display: none;
    }
  }

  & .Section-intro {
    margin: 30px auto 0;
    max-width: 550px;
    padding: 0 10px;
  }

  & .Section-image {
    background: svg-load(house-w-icons.svg) no-repeat center center;
    background-size: contain;
    height: 213px;
    margin: 30px auto 0;
    width: 274px;
  }
}

/* Avec Page */
.Section--03 {
  background: var(--colour-lilac);
}

/* History Page */
.Section--04 {
  background: var(--colour-periwinkle);
}

/* Team page */
.Section--05 {
  background: var(--colour-purpleLight);
}

/* Logo page */
.Section--06 {
  background: white;
}

@media (--large) {
  .Section-title {
    color: white;
    font: 600 60px/70px var(--sans);
    max-width: 550px;
  }

  .Section-intro {
    font: 300 20px/30px var(--sans);
  }

  .Section--01 {
    & .Section-title {
      display: none;
    }

    & .Section-image {
      margin-top: 140px;
    }

    & .Section-caption {
      color: white;
      display: block;
      font: 600 60px/70px var(--sans);
      margin: 40px auto 0;
      max-width: 650px;
    }

    & .Section-nav {
      bottom: 50px;
    }
  }

  .Section--02 {
    & .Section-title {
      font: 600 60px/70px var(--sans);
      margin-top: 120px;
      max-width: 800px;

      & > br { /* stylelint-disable-line */
        display: block;
      }
    }

    & .Section-intro {
      margin-top: 40px;
    }

    & .Section-image {
      height: 366px;
      margin-top: 20px;
      width: 50%;
    }
  }
}
