<div class="Footer">
  <div class="Footer-inner">
    <div class="Social">
      <ul class="Social-items">
        <li class="Social-item">
          <a href="#" target="_blank" title="Twitter" class="Social-link Social-link--twitter">
            Twitter
          </a>
        </li>
        <li class="Social-item">
          <a href="#" target="_blank" title="Linkedin" class="Social-link  Social-link--linkedin">
            Linkedin
          </a>
        </li>
        <li class="Social-item">
          <a href="#" target="_blank" title="Facebook" class="Social-link  Social-link--facebook">
            Facebook
          </a>
        </li>
      </ul>
    </div>

    <ul class="Footer-items">
      <li class="Footer-item">
        copyright Otodo 2016
      </li>
      <li class="Footer-item">
        <a href="#" title="Privacy policy" target="_blank" class="Footer-link">
          Privacy Policy
        </a>
      </li>
    </ul>
  </div>
</div>
