/** @define Footer */

.Footer {
  background: black;
  padding: 10px 15px;
}

.Footer-items {
  display: flex;
  justify-content: space-between;
}

.Footer-item {
  color: var(--colour-grey);
  font: 700 11px/10px var(--sans);

  &:first-child {
    font-size: 9px;
  }
}

.Footer-link {
  color: var(--colour-grey);
  text-decoration: none;

  &:hover {
    color: white;
  }

  &:visited {
    color: var(--colour-grey);
  }
}

/**
 * Viewport: medium
 */

@media (--medium) {}

/**
 * Viewport: large
 */

@media (--large) {}
