<div class="Overlay Overlay--03" data-js="overlay" data-overlaynumber="3">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      En toute s&eacute;curit&eacute;
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-list">
				<p class="Overlay-listItem">
					S&eacute;curisation des &eacute;changes, toutes les donn&eacute;es et &eacute;changes sont crypt&eacute;s
				</p>
				<p class="Overlay-listItem">
					Protections anti-intrusion
				</p>
				<p class="Overlay-listItem">
					Notifications alertant l’utilisateur d’un &eacute;v&egrave;nement inhabituel
				</p>
				<p class="Overlay-listItem">
					Mode priv&eacute;
				</p>
			</div>
			<div class="Overlay-footer">
				Et comme se prot&eacute;ger seul n’est jamais suffisant, nous faisons auditer r&eacute;guli&egrave;rement nos infrastructures par des intervenant externes afin d’atteindre le plus haut niveau de s&eacute;curit&eacute;.
			</div>
    </div>
  </div>
</div>
