<div class="Overlay Overlay--03" data-js="overlay" data-overlaynumber="3">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      ABSOLUTE SECURITY
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-list">
				<p class="Overlay-listItem">
					Securing exchanges, all data & exchanges are encrypted
				</p>
				<p class="Overlay-listItem">
					Anti-intrusion protections
				</p>
				<p class="Overlay-listItem">
					Notifications alert the user of any unusual event
				</p>
				<p class="Overlay-listItem">
					Private mode
				</p>
			</div>
			<div class="Overlay-footer">
				To ensure the highest level of  protection to our customers, we regularly realize external audits of our infrastructures.
			</div>
    </div>
  </div>
</div>
