<div class="Overlay Overlay--02 is-carousel" data-js="overlay" data-overlaynumber="2">
  <div class="Overlay-inner">
		<img src="img/background-overlay-02a.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--first">
		<img src="img/background-overlay-02b.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--second">
		<img src="img/background-overlay-02a-mobile.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--firstMobile">
		<img src="img/background-overlay-02b-mobile.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--secondMobile">
		<div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
			SMART HOME MADE EASY
		</h4>
    <div class="Overlay-content">
      <div class="Overlay-items" data-js="overlay-carousel">
				<div class="Overlay-item">
					<p class="Overlay-body">
						<strong>Multiple actions program</strong> allows you to act on objects without any complicated configuration of scenario.
					</p>
					<p class="Overlay-body">
						<strong>Surveillance</strong> lets you follow in one screen every data of your captors (such as temperature, presence of people or not, or every other surveillance that you would like to program).
					</p>
					<p class="Overlay-body">
						<strong>Comfort</strong> lets you manage your energy systems remotely directly from your app.
					</p>
				</div>
				<div class="Overlay-item">
					<div class="Overlay-list">
						<p class="Overlay-listItem">
							When you arrive at home, oToDo opens automatically your portal.
						</p>
						<p class="Overlay-listItem">
							When you leave your home, close your shutters in one click.
						</p>
						<p class="Overlay-listItem">
							Your water, energy, gaz consumption is excessive, oToDo notifies you.
						</p>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
