<div class="Overlay Overlay--02 is-carousel" data-js="overlay" data-overlaynumber="2">
  <div class="Overlay-inner">
		<img alt="background" src="img/background-overlay-02a.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--first">
		<img alt="background" src="img/background-overlay-02b.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--second">
		<img alt="background" src="img/background-overlay-02a-mobile.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--firstMobile">
		<img alt="background" src="img/background-overlay-02b-mobile.jpg" class="Overlay-backgroundImage Overlay-backgroundImage--secondMobile">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
			En toute simplicit&eacute;
		</h4>
    <div class="Overlay-content">
      <div class="Overlay-items" data-js="overlay-carousel">
				<div class="Overlay-item">
					<p class="Overlay-body">
						Les <strong>groupements d’actions</strong> vous permettent rapidement d’agir sur vos objets sans configuration compliqu&eacute;e de sc&eacute;nario.
					</p>
					<p class="Overlay-body">
						La <strong>surveillance</strong>  vous permet de suivre dans un seul &eacute;cran les mesures de vos capteurs (temp&eacute;rature, la pr&eacute;sence ou non de personnes, ou tout autre surveillance que vous souhaitez r&eacute;aliser).
					</p>
					<p class="Overlay-body">
						Le <strong>confort</strong> vous permet d’agir sur vos systèmes &eacute;nerg&eacute;tiques &agrave; distance imm&eacute;diatement dans votre application.
					</p>
				</div>
				<div class="Overlay-item">
					<div class="Overlay-list">
						<p class="Overlay-listItem">
							Vous arrivez &agrave; votre domicile, oToDo ouvre votre portail automatiquement.
						</p>
						<p class="Overlay-listItem">
							Vous quittez votre domicile, vous fermez en un clic les volets de la maison.
						</p>
						<p class="Overlay-listItem">
							Votre consommation d’eau, d’&eacute;lectricit&eacute;, de gaz est excessive, oToDo vous notifie.
						</p>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
