<div class="Overlay Overlay--01" data-js="overlay" data-overlaynumber="1">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      Le centre de votre maison connect&eacute;e
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-contentIcons"></div>
			<img src="../img/overlay-group.png" alt="diagram" class="Overlay-contentImage" />
			<div class="Overlay-item">
				<h5 class="Overlay-subtitle">
					Chauffage
				</h5>
				<p class="Overlay-body">
					Votre chauffage est d&eacute;j&agrave; reli&eacute; &agrave; un thermostat connect&eacute;? Associez le &agrave; votre compte oToDo pour automatiquement retrouver l’ensemble des fonctionnalit&eacute;s de votre thermostat.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--lighting">
				<h5 class="Overlay-subtitle">
					Eclairage
				</h5>
				<p class="Overlay-body">
					Que vous poss&eacute;diez des syst&egrave;mes d&eacute;j&agrave; connect&eacute;s ou simplement t&eacute;l&eacute;commandables, le Hub oToDo prendra en charge la plupart des &eacute;clairages pilotables du march&eacute;.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--camera">
				<h5 class="Overlay-subtitle">
					Camera
				</h5>
				<p class="Overlay-body">
					Associez rapidement votre cam&eacute;ra avec votre application oToDo pour assurer la s&eacute;curit&eacute; de votre foyer ou d&eacute;clencher des &eacute;v&eacute;nements pr&eacute;d&eacute;finis.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--portal">
				<h5 class="Overlay-subtitle">
					Volet Portail
				</h5>
				<p class="Overlay-body">
					Le Hub oToDo est compatible avec la plupart des mat&eacute;riels pilotables par radio fr&eacute;quence. G&eacute;rez simplement l’ouverture ou la fermeture de vos volets ou portail &eacute;lectriques depuis votre application et oubliez vos t&eacute;l&eacute;commandes.
				</p>
			</div>
			<h5 class="Overlay-footer">
				<div class="Overlay-footerTitle">Et toujours plus</div>
        <p class="Overlay-footerBody">
          Vous ajoutez des objets, la famille s’agrandit, vous prêtez votre maison? La solution oToDo &eacute;voluera chaque jour pour prendre en compte vos nouveaux mat&eacute;riels et centraliser l’information et le pilotage de votre foyer.
        </p>
			</h5>
    </div>
  </div>
</div>
