<div class="Overlay Overlay--01" data-js="overlay" data-overlaynumber="1">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      Le centre de votre maison connectée
    </h4>
    <div class="Overlay-content">
			<img src="../img/overlay-group.png" alt="diagram" class="Overlay-contentImage" />
			<h5 class="Overlay-subtitle">
				Camera
			</h5>
			<p class="Overlay-body">
				Associez rapidement votre caméra avec votre application oToDo pour assurer la sécurité de votre foyer ou déclencher des évènements prédéfinis
			</p>
			<h5 class="Overlay-subtitle">
				Camera
			</h5>
			<p class="Overlay-body">
				Associez rapidement votre caméra avec votre application oToDo pour assurer la sécurité de votre foyer ou déclencher des évènements prédéfinis
			</p>
			<h5 class="Overlay-subtitle">
				Camera
			</h5>
			<p class="Overlay-body">
				Associez rapidement votre caméra avec votre application oToDo pour assurer la sécurité de votre foyer ou déclencher des évènements prédéfinis
			</p>
			<h5 class="Overlay-subtitle">
				Camera
			</h5>
			<p class="Overlay-body">
				Associez rapidement votre caméra avec votre application oToDo pour assurer la sécurité de votre foyer ou déclencher des évènements prédéfinis
			</p>
			<h5 class="Overlay-footer">
				ET TOUJOURS PLUS…
			</h5>
    </div>
  </div>
</div>
