<div class="Overlay Overlay--01" data-js="overlay" data-overlaynumber="1">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      The hub of your connected home
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-contentIcons"></div>
			<img src="../img/overlay-group.png" alt="diagram" class="Overlay-contentImage" />
			<div class="Overlay-item">
				<h5 class="Overlay-subtitle">
					Heater
				</h5>
				<p class="Overlay-body">
					Are you already using a heater connected to your thermostat ? By just connecting it to your oToDo account you&rsquo;ll be able to access all your thermostat setting in one place.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--lighting">
				<h5 class="Overlay-subtitle">
					Lighting
				</h5>
				<p class="Overlay-body">
					Either you already have connected or simply remoted controlled devices, the oToDo’s hub will manage most of smart lightings existing on the market.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--camera">
				<h5 class="Overlay-subtitle">
					Camera
				</h5>
				<p class="Overlay-body">
					Secure your home or activate predefined events by linking in no time your camera with the oToDo app.
				</p>
			</div>
			<div class="Overlay-item Overlay-item--portal">
				<h5 class="Overlay-subtitle">
					Sliding shutter
				</h5>
				<p class="Overlay-body">
					The oToDo Hub is compatible with most of controllable devices / smart devices by radio wave. No need of remote control anymore; you manage effortlessly the opening or closure of your shutter or electrical portal directly from the app.
				</p>
			</div>
			<h5 class="Overlay-footer">
				<div class="Overlay-footerTitle">And always more </div>
        <p class="Overlay-footerBody">
					You add/buy new objects, the family grows or you’re planning to lend your house ? oToDo’s solution will evolve every day to take into account the added smart devices and centralised information and the management of your smart home.
        </p>
			</h5>
    </div>
  </div>
</div>
