<div class="Overlay Overlay--03" data-js="overlay" data-overlaynumber="3">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      ABSOLUTE SECURITY
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-list">
				<p class="Overlay-listItem">
					Securing exchanges, all data & exchanges are encrypted
				</p>
				<p class="Overlay-listItem">
					Anti-intrusion protections
				</p>
				<p class="Overlay-listItem">
					Notifications alert the user of any unusual event
				</p>
				<p class="Overlay-listItem">
					Private mode
				</p>
			</div>
			<div class="Overlay-footer">
				To ensure the best protection to our customers, we regularly realize external audits of our  Et comme se protéger seul n’est jamais suffisant, nous faisons auditer régulièrement nos infrastructures par des intervenant externes afin d’atteindre le plus haut niveau de sécurité.
			</div>
    </div>
  </div>
</div>
