<div class="Overlay" data-js="overlay" data-overlaynumber="1">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      Le centre de votre maison connectée
    </h4>
    <div class="Overlay-content">
      Sécurisation des échanges, toutes les données et échanges sont cryptés
    </div>
  </div>
</div>
