<div class="Overlay Overlay--02" data-js="overlay" data-overlaynumber="2">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
			En toute simplicité
		</h4>
    <div class="Overlay-content">
      <div class="Overlay-items">
				<div class="Overlay-item">
					<p class="Overlay-body">
						Les <strong>groupements d’actions</strong> vous permettent rapidement d’agir sur vos objets sans configuration t de scenario.
					</p>
					<p class="Overlay-body">
						La <strong>surveillance</strong> vous permet de suivre dans un seul écran la consommation de votre foyer, la présence ou non de personnes, ou tout autre surveillance que vous souhaitez réaliser.
					</p>
					<p class="Overlay-body">
						Le <strong>confort</strong> vous permet d’agir sur vos systèmes énergétiques à distance immédiatement dans votre appication.
					</p>
					<p class="Overlay-body">
						La <strong>gestion des membres du foyer</strong> se fait finement en autorisant l’accès aux contrôles ou non
					</p>
				</div>
				<div class="Overlay-item">
					<div class="Overlay-list">
						<p class="Overlay-listItem">
							Vous arrivez à votre domicile, oToDo ouvre votre portail automatiquement
						</p>
						<p class="Overlay-listItem">
							Vous quittez votre domicile, vous fermez en un clique les volets de la maison
						</p>
						<p class="Overlay-listItem">
							Votre consommation d’eau, d’électricité, de gaz est excessive, oToDo vous notifie
						</p>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
