<div class="Overlay Overlay--03" data-js="overlay" data-overlaynumber="3">
  <div class="Overlay-inner">
    <div class="Overlay-button" data-js="closeOverlay"></div>
    <h4 class="Overlay-title">
      En toute sécurité
    </h4>
    <div class="Overlay-content">
			<div class="Overlay-list">
				<p class="Overlay-listItem">
					Sécurisation des échanges, toutes les données et échanges sont cryptés
				</p>
				<p class="Overlay-listItem">
					Protections anti-intrusion
				</p>
				<p class="Overlay-listItem">
					Notifications alertant l’utilisateur d’un évènement inhabituel
				</p>
			</div>
			<div class="Overlay-footer">
				Et comme se protéger seul n’est jamais suffisant, nous faisons auditer régulièrement nos infrastructures par des intervenant externes afin d’atteindre le plus haut niveau de sécurité.
			</div>
    </div>
  </div>
</div>
