/** @define Overlay */

.Overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--depth-4);

  &.is-active {
    display: flex;
  }
}

.Overlay-inner {
  background: black;
  height: 100vh;
  padding: 0 20px;
  position: relative;
  top: 0;
  width: 100%;
}

.Overlay-button {
  background: svg-load(close.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  height: 27px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 27px;
}

.Overlay-title {
  color: var(--colour-purpleModal);
  font: 700 20px/30px var(--sans);
  margin: 70px 0 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::after {
    background: rgb(197, 199, 255);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    width: 60%;
  }
}

.Overlay-content {
  color: white;
  font: 700 14px/18px var(--sans);
  margin: 40px 0 0;
  text-align: left;

  & > * { /* stylelint-disable-line */
    color: white;
    font: 700 14px/18px var(--sans);
    margin-top: 40px;
  }
}

@media (--large) {
  .Overlay-inner {
    height: 95%;
    max-height: 720px;
    max-width: 1104px;
    position: relative;
    width: 90%;
  }

  .Overlay-button {
    height: 40px;
    right: 30px;
    top: 30px;
    width: 40px;
  }
}
