/** @define Overlay */

.Overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &.is-active {
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.1s 0s ease-in;
    z-index: var(--depth-4);
  }
}

.Overlay-inner {
  background: black;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  top: 0;
  width: 100%;

  @nest .is-active & {
    opacity: 1;
    transition: opacity 0.15s 0s ease-in;
  }
}

.Overlay-button {
  background: svg-load(close.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  height: 27px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 27px;
}

.Overlay-title {
  color: var(--colour-purpleModal);
  display: inline-block;
  font: 700 20px/30px var(--sans);
  margin: 60px auto 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::after {
    background: rgb(197, 199, 255);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    width: 60%;
  }
}

.Overlay-content {
  color: white;
  font: 700 14px/18px var(--sans);
  margin: 30px 0 0;
  text-align: left;

  & > * { /* stylelint-disable-line */
    color: white;
    font: 700 14px/18px var(--sans);
    margin-top: 40px;
  }
}

.Overlay-subtitle {
  font: 700 10px/12px var(--sans);
  text-transform: uppercase;
}

.Overlay-items,
.Overlay-item {
  outline: none;
}

.Overlay-body {
  font: 300 14px/18px var(--sans);
  margin: 15px 0 0;

  & strong { /* stylelint-disable-line */
    font: 700 14px/18px var(--sans);
  }
}

.Overlay-listItem {
  font: 700 14px/18px var(--sans);
  margin: 40px 0 0;
}

.Overlay-contentImage {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.Overlay-footer {
  font: 700 10px/12px var(--sans);
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

.Overlay--01 {
  & .Overlay-inner {
    background: rgb(27, 28, 57);
    max-height: 100vh;
    overflow: scroll;
  }

  & .Overlay-content {
    text-align: center;
  }

  & .Overlay-title {
    width: 280px;
  }

  & .Overlay-subtitle {
    margin: 15px 0 0;
    text-align: left;
  }

  & .Overlay-body {
    line-height: 1.4;
    margin: 5px 0 0;
    text-align: left;
  }

  & .Overlay-footerBody {
    font: 300 14px/16px var(--sans);
    margin: 5px 0 0;
    text-align: left;
    text-transform: none;
  }
}

.Overlay--02 {
  & .Overlay-inner {
    background: url("../img/background-overlay-02a.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 0;

    &.is-second {
      background: url("../img/background-overlay-02b.jpg") no-repeat 0 0;
      background-size: cover;
    }
  }
}

.Overlay--03 {
  & .Overlay-inner {
    background: url("../img/background-overlay-03.jpg") no-repeat top center;
    background-size: cover;
  }

  & .Overlay-listItem {
    background: svg-load(check.svg) no-repeat top left;
    background-size: 20px;
    padding-left: 35px;
  }

  & .Overlay-footer {
    background: svg-load(spin.svg) no-repeat top center;
    background-size: 35px;
    margin-top: 70px;
    padding-top: 50px;
  }
}

@media (--large) {
  .Overlay-inner {
    height: 95%;
    max-height: 720px;
    max-width: 1044px;
    padding: 0 60px;
    position: relative;
    width: 90%;
  }

  .Overlay-button {
    height: 40px;
    right: 30px;
    top: 30px;
    transform-origin: center;
    width: 40px;

    &:hover {
      transform: rotate(360deg);
      transition: var(--transition-close);
    }
  }

  .Overlay-title {
    display: block;
    font: 700 40px/30px var(--sans);
    margin: 60px 0 0;
    max-width: 640px;
    min-width: 800px;
    text-align: left;

    &::after {
      background: rgb(197, 199, 255);
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      width: 267px;
    }
  }

  .Overlay-body {
    font: 300 21px/23px var(--sans);
    margin: 50px 0 0 50px;
    max-width: 590px;

    & strong { /* stylelint-disable-line */
      font: 700 21px/23px var(--sans);
    }
  }

  .Overlay-list {
    margin: 55px auto 0;
    max-width: 540px;
  }

  .Overlay-listItem {
    font: 700 26px/28px var(--sans);
    margin: 40px 0 0;
    text-align: center;
  }

  .Overlay--01 {
    & .Overlay-inner {
      overflow: hidden;
    }

    & .Overlay-title {
      font-size: 37px;
      line-height: 1.2;
      max-width: 900px;
      min-width: 900px;
    }

    & .Overlay-content {
      /*display: flex;
      align-items: center;*/
      /*flex-direction: column;*/
      margin: 50px auto 0;
      max-width: 990px;
      min-height: 450px;
      width: 100%;
    }

    & .Overlay-contentIcons {
      background: svg-load(image.svg) no-repeat center;
      background-size: contain;
      height: 280px;
      margin: 0 auto;
      max-width: 350px;
      width: 30%;
    }

    & .Overlay-contentImage {
      display: none;
    }

    & .Overlay-item {
      left: 5%;
      max-width: 380px;
      position: absolute;
      text-align: center;
      top: 130px;
      width: 35%;
    }

    & .Overlay-item--lighting {
      max-width: 360px;
      top: 300px;

      & .Overlay-subtitle {
        margin-right: 35px;
      }
    }

    & .Overlay-item--camera {
      left: auto;
      right: 50px;
      top: 130px;

      & .Overlay-subtitle {
        text-align: left;
      }
    }

    & .Overlay-item--portal {
      left: auto;
      right: 40px;
      top: 300px;

      & .Overlay-subtitle {
        margin-left: 25px;
        text-align: left;
      }

      & .Overlay-body {
        max-width: 350px;
      }
    }

    & .Overlay-subtitle {
      color: rgb(150, 15, 124);
      font: 700 20px/20px var(--sans);
      text-align: right;
      text-transform: capitalize;
    }

    & .Overlay-body {
      font-size: 17px;
      text-align: center;
    }

    & .Overlay-footer {
      margin: 5vh auto 0;
      max-width: 445px;
      text-transform: none;
    }

    & .Overlay-footerTitle {
      color: rgb(150, 15, 124);
      font: 700 22px/22px var(--sans);
    }

    & .Overlay-footerBody {
      font: 300 13px/20px var(--sans);
    }
  }

  .Overlay--02 {
    & .Overlay-title {
      max-width: 540px;
      min-width: 500px;
    }

    @nest .is-en .Overlay-title {
      max-width: 240px;
      min-width: 100px;
    }
  }

  .Overlay--03 {
    & .Overlay-inner {
      background-image: url("../img/background-overlay-03-large.jpg");
      background-position: center;
      background-size: cover;
    }

    & .Overlay-title {
      max-width: 640px;
      min-width: 500px;
    }

    & .Overlay-list {
      margin-left: 0;
      max-width: 460px;
    }

    & .Overlay-listItem {
      background-position: 0 6px;
      font-size: 26px;
      font-weight: 300;
      margin-top: 20px;
      text-align: left;
    }

    & .Overlay-footer {
      background-size: 52px;
      font: 700 20px/28px var(--sans);
      letter-spacing: 0.08px;
      margin-top: 40px;
      max-width: 610px;
      padding-top: 80px;
      text-transform: none;
    }
  }
}
