/** @define Overlay */

.Overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &.is-active {
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.1s 0s ease-in;
    z-index: var(--depth-4);
  }
}

.Overlay-inner {
  background: black;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  top: 0;
  width: 100%;

  @nest .is-active & {
    opacity: 1;
    transition: opacity 0.15s 0s ease-in;
  }
}

.Overlay-button {
  background: svg-load(close.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  height: 27px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 27px;
}

.Overlay-title {
  color: var(--colour-purpleModal);
  display: inline-block;
  font: 700 20px/30px var(--sans);
  margin: 60px auto 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::after {
    background: rgb(197, 199, 255);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    width: 60%;
  }
}

.Overlay-content {
  color: white;
  font: 700 14px/18px var(--sans);
  margin: 30px 0 0;
  text-align: left;

  & > * { /* stylelint-disable-line */
    color: white;
    font: 700 14px/18px var(--sans);
    margin-top: 40px;
  }
}

.Overlay-subtitle {
  font: 700 10px/12px var(--sans);
  text-transform: uppercase;
}

.Overlay-body {
  font: 300 14px/18px var(--sans);
  margin: 15px 0 0;

  & strong { /* stylelint-disable-line */
    font: 700 14px/18px var(--sans);
  }
}

.Overlay-listItem {
  font: 700 14px/18px var(--sans);
  margin: 40px 0 0;
}

.Overlay-contentImage {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.Overlay-footer {
  font: 700 10px/12px var(--sans);
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

.Overlay--01 {
  & .Overlay-inner {
    background: #1B1C39;
    max-height: 100vh;
    overflow: scroll;
  }

  & .Overlay-content {
    text-align: center;
  }

  & .Overlay-subtitle {
    margin: 15px 0 0;
    text-align: left;
  }

  & .Overlay-body {
    line-height: 1.4;
    margin: 5px 0 0;
    text-align: left;
  }

  & .Overlay-footerBody {
    display: none;
  }
}

.Overlay--02 {
  & .Overlay-inner {
    background: url("/img/background-overlay-02.jpg") no-repeat top center;
    background-size: cover;
  }
}

.Overlay--03 {
  & .Overlay-inner {
    background: url("../img/background-overlay-03.jpg") no-repeat top center;
    background-size: cover;
  }

  & .Overlay-listItem {
    background: svg-load(check.svg) no-repeat top left;
    background-size: 20px;
    padding-left: 35px;
  }

  & .Overlay-footer {
    background: svg-load(spin.svg) no-repeat top center;
    background-size: 35px;
    margin-top: 70px;
    padding-top: 50px;
  }
}

@media (--large) {
  .Overlay-inner {
    height: 95%;
    max-height: 720px;
    max-width: 1044px;
    padding: 0 60px;
    position: relative;
    width: 90%;
  }

  .Overlay-button {
    height: 40px;
    right: 30px;
    top: 30px;
    transform-origin: center;
    width: 40px;

    &:hover {
      transform: rotate(360deg);
      transition: var(--transition-close);
    }
  }

  .Overlay-title {
    display: block;
    font: 700 40px/30px var(--sans);
    margin: 60px 0 0;
    max-width: 480px;
    text-align: left;

    &::after {
      background: rgb(197, 199, 255);
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      width: 267px;
    }
  }

  .Overlay-body {
    font: 300 21px/23px var(--sans);
    margin: 50px 0 0 50px;
    max-width: 590px;

    & strong { /* stylelint-disable-line */
      font: 700 21px/23px var(--sans);
    }
  }

  .Overlay-list {
    margin: 55px auto 0;
    max-width: 540px;
  }

  .Overlay-listItem {
    font: 700 26px/28px var(--sans);
    margin: 40px 0 0;
    text-align: center;
  }

  .Overlay--01 {
    & .Overlay-title {
      line-height: 1.2;
    }

    & .Overlay-content {
      background-size: contain;
      background: url("../img/overlay-group-02.png") no-repeat top center;
      display: flex;
      flex-direction: column;
      margin: 50px auto 0;
      max-width: 990px;
      min-height: 400px;
      width: 100%;
    }

    & .Overlay-contentImage,
    & .Overlay-subtitle,
    & .Overlay-body {
      display: none;
    }

    & .Overlay-footer {
      margin: auto auto 0;
      max-width: 445px;
      text-transform: none;
    }

    & .Overlay-footerTitle {
      color: #960F7C;
      font: 700 22px/22px var(--sans);
    }

    & .Overlay-footerBody {
      font: 300 13px/20px var(--sans);
    }
  }

  .Overlay--02 {
    & .Overlay-inner {
      background: url("/img/background-overlay-02.jpg") no-repeat center center;
      background-size: 110%;
    }
  }
}
