/* Only non-named-colour palette, z-index and font-stacks */

:root {
  --sans: "Lato", Helvetica, sans-serif;

  /* z-index */
  --depth-1: 100;
  --depth-2: 200;
  --depth-3: 300;
  --depth-4: 400; /* modal */
  --depth-5: 500; /* nav */

  /* colours */
  --colour-grey: rgb(184, 184, 184);
  --colour-greyDark: rgb(27, 28, 57);
  --colour-lilac: rgb(155, 92, 144);
  --colour-periwinkle: rgb(79, 81, 127);
  --colour-purple: rgb(150, 15, 124);
  --colour-purpleDark: rgb(27, 28, 57);
  --colour-purpleLight: rgb(99, 100, 127);
  --colour-purpleLightest: rgba(99, 100, 127, 0.5);
  --colour-purpleModal: rgb(97, 100, 204);
  --colour-anotherPurple: rgb(197, 199, 255);

  /* transitions */
  --transition-button: 0.125s ease-out;
  --transition-link: 0.125s ease-out;
}

/* Common breakpoints. However adaptions can happen at component-level */
@custom-media --medium (min-width: 600px);
@custom-media --large (min-width: 860px);
@custom-media --xlarge (min-width: 1920px);
